<div class="footer">
  <div class="pull-right">
    MultiFamily Site Portal
  </div>
  <div>
    <strong>Copyright</strong> @_siteInfo.Title &copy; @_now.Year
  </div>
</div>

@code {
    private DateTime _now = DateTime.Now;

    [Inject]
    private ISiteInfo _siteInfo { get; set; } = default!;
}
