<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
          <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle">
              <span class="block m-t-xs font-bold">
                @*@_user?.FindFirstValue(ClaimTypes.Name)*@
                <img src="/theme/branding/logo-dark-side" class="img img-fluid logo" />
              </span>
              <span class="text-muted text-xs block">menu <b class="caret"></b></span>
            </a>
            @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
            </ul>*@
          </div>
          <div class="logo-element">
            @_siteInfo.Title
          </div>
      </li>
      @if(_navBarType != null)
      {
        <DynamicComponent Type=@_navBarType />
      }
      @*<li class="active">
        <a href="/"><i class="fa-regular fa-table-cells-large"></i> <span class="nav-label">Main view</span></a>
      </li>
      <li>
        <a href="minor.html"><i class="fa-regular fa-table-cells-large"></i> <span class="nav-label">Minor view</span> </a>
      </li>*@
    </ul>
  </div>
</nav>

@code {
    [Inject]
    private ISiteInfo _siteInfo { get; set; }

    [CascadingParameter]
    private IPortalTheme _theme { get; set; }

    [CascadingParameter]
    private ClaimsPrincipal _user { get; set; }

    private Type _navBarType;

    protected override void OnInitialized()
    {
        if(_theme is IPortalMenuProvider menuProvider)
        {
            _navBarType = menuProvider.SideBar;
        }
    }
}
