@using MultiFamilyPortal.InspiniaTheme.Components

@*<li class="active">
  <a href="/"><i class="fa-regular fa-table-cells-large"></i> <span class="nav-label">Main view</span></a>
</li>
<li>
  <a href="minor.html"><i class="fa-regular fa-table-cells-large"></i> <span class="nav-label">Minor view</span> </a>
</li>



<li class="active">
    <a href="/"><i class="fa-regular fa-table-cells-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="/">Dashboard v.1</a></li>
        <li><a href="dashboard_2.html">Dashboard v.2</a></li>
        <li><a href="dashboard_3.html">Dashboard v.3</a></li>
        <li class="active"><a href="dashboard_4_1.html">Dashboard v.4</a></li>
        <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
    </ul>
</li>
*@
<AuthorizedPolicy Policy=@PortalPolicy.AdminPortalViewer>
  <InspiniaNavBarItem Href="/admin"
                      IconClass="fa-duotone fa-tachometer-alt-fastest"
                      Name="Dashboard" />
</AuthorizedPolicy>
<AuthorizedPolicy Policy=@PortalPolicy.Underwriter>
  <InspiniaNavBarItem Href="/admin/activity-log"
                      IconClass="fa-duotone fa-mobile"
                      Name="Activity Log" />
  <InspiniaNavBarItem IconClass="fa-duotone fa-city"
                      Name="Properties">
    <InspiniaNavBarItem Href="/admin/properties/underwriting"
                        Name="Underwriting" />
    <InspiniaNavBarItem Href="/admin/properties/assets-under-management"
                        Name="Portfolio" />
  </InspiniaNavBarItem>
  <InspiniaNavBarItem IconClass="fa-duotone fa-users"
                      Name="Users">
    <InspiniaNavBarItem Href="/admin/users/investors"
                        Name="Investors" />
    <InspiniaNavBarItem Href="/admin/investors-prospects"
                        Name="Prospects" />
    <AuthorizedRole Role=@PortalRoles.PortalAdministrator>
      <InspiniaNavBarItem Href="/admin/users"
                          Name="Website Users" />
      <InspiniaNavBarItem Href="/admin/subscribers"
                          Name="Subscribers" />
    </AuthorizedRole>
  </InspiniaNavBarItem>
</AuthorizedPolicy>
<AuthorizedPolicy Policy=@PortalPolicy.AdminPortalViewer>
  <InspiniaNavBarItem Href="/admin/user-profile"
                      IconClass="fa-duotone fa-user"
                      Name="Profile" />

</AuthorizedPolicy>
<AuthorizedRole Role=@PortalRoles.PortalAdministrator>
  <InspiniaNavBarItem Href="/admin/settings"
                      IconClass="fa-duotone fa-cogs"
                      Name="Settings" />
</AuthorizedRole>
<InspiniaNavBarItem Href="/logout"
                    IconClass="fa-duotone fa-sign-out-alt"
                    Name="Logout" />


@code {

}
