@page "/admin/subscribers"

<h3>Subscribers</h3>

<p>The following users have signed up to subscribe to notifications. They will be sent notifications for any news letters that you send out or any blog posts that you publish.</p>
@code {

}
