<TelerikArcGauge Height="80px">
  <ArcGaugeCenterLabel>
    <Template>
      <div><strong>@(CashOnCash.ToString("P"))</strong></div>
      <small>Cash on Cash</small>
    </Template>
  </ArcGaugeCenterLabel>
  <ArcGaugeScales>
    <ArcGaugeScale Min="0" Max=@Max />
  </ArcGaugeScales>
  <ArcGaugePointers>
    <ArcGaugePointer Size="10" Value="@CashOnCash" Color=@Color />
  </ArcGaugePointers>
</TelerikArcGauge>
