<div class="row">
  <div class="col text-center">
    <TelerikCircularGauge Width="100px" Height="100px">

      <CircularGaugePointers>
        <CircularGaugePointer Value=@Value Size="10" Color=@CalculatedColor />
      </CircularGaugePointers>

      <CircularGaugeCenterLabel>
        <Template>
          @{ var pointer = context.Pointers.FirstOrDefault(); }
           <div style="font-weight: bold; font-size:30px">@pointer.Value</div>
        </Template>
      </CircularGaugeCenterLabel>

      <CircularGaugeScales>
        <CircularGaugeScale Min="0" Max="@Max" StartAngle="0" />
      </CircularGaugeScales>

    </TelerikCircularGauge>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    @Label
  </div>
</div>
