<TelerikArcGauge Height="80px">
  <ArcGaugeCenterLabel>
    <Template>
      <div><strong>@(DebtCoverageRatio.ToString("N2"))</strong></div>
      <small>Debt Coverage</small>
    </Template>
  </ArcGaugeCenterLabel>
  <ArcGaugeScales>
    <ArcGaugeScale Min="0" Max=@Max />
  </ArcGaugeScales>
  <ArcGaugePointers>
    <ArcGaugePointer Size="10" Value="@DebtCoverageRatio" Color=@Color />
  </ArcGaugePointers>
</TelerikArcGauge>
