@if (Path.GetExtension(FileDocument.Name).ToLower() == ".pdf")
{
    <div @ref="WrapperRef">
      <div id="@_widgetId" 
           data-filename="@FileDocument.DownloadLink" 
           data-width="100%" 
           data-height="100%">
      </div>
    </div>
}
else
{
 
    <img id="work-pic"  
         alt="@FileDocument.Name" 
         class="img-fluid mx-auto d-block"  
         src=@FileDocument.DownloadLink/>
}