@using Humanizer
  <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <select class="form-select input-group-text ms-one" aria-label="Default select example">
      @foreach (var costType in CostTypes)
      {
        <option class="me-5" value="@costType">
          <span class-="me-3">@costType.Humanize(LetterCasing.Title) &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
        </option>
      }
    </select>
    </div>
    <input type="number" class="form-control w-75" @bind-value="@Value" aria-label="Text input with dropdown button">
  </div>

  @*Here due to : The scoped css file 'DuoInput.razor.css' was defined but no associated razor componen*@

  <style>
   .ms-one {
    margin-right: -0.01rem !important;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
  }
  </style>
