<button title="Sign in with Google" class="p-3" style="width:100%">
  <svg alt="Google" class="mr-2" role="presentation" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
      <defs>
        <path d="M19.32 8.18H10v3.87h5.36c-.5 2.45-2.6 3.86-5.36 3.86-3.27 0-5.9-2.62-5.9-5.9 0-3.26 2.63-5.9 5.9-5.9 1.4 0 2.68.5 3.68 1.3l2.9-2.9C14.83.96 12.56 0 10 0 4.45 0 0 4.45 0 10s4.45 10 10 10c5 0 9.55-3.64 9.55-10 0-.6-.1-1.23-.23-1.82z" id="a" style="fill: rgb(255, 255, 255);"></path>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <mask id="b" fill="#fff">
          <use xlink:href="#a"></use>
        </mask>
        <path fill="#FBBC05" fill-rule="nonzero" mask="url(#b)" d="M-.9 15.9V4.1L6.8 10" style="fill: rgb(251, 188, 5);"></path>
        <path fill="#EA4335" fill-rule="nonzero" mask="url(#b)" d="M-.9 4.1L6.8 10 10 7.23l10.9-1.78V-.9H-.9" style="fill: rgb(234, 67, 53);"></path>
        <path fill="#34A853" fill-rule="nonzero" mask="url(#b)" d="M-.9 15.9L12.72 5.46l3.6.46L20.9-.9v21.8H-.9" style="fill: rgb(52, 168, 83);"></path>
        <path fill="#4285F4" fill-rule="nonzero" mask="url(#b)" d="M20.9 20.9L6.83 10 5 8.64 20.9 4.1" style="fill: rgb(66, 133, 244);"></path>
      </g>
    </svg>
    <span class="ml-2">
      &nbsp;Sign in with Google
    </span>
</button>

@*<a class="" href="/auth/google" icon="google" data-test-class="button">
  <div class="">
    <svg alt="Google" role="presentation" aria-hidden="true" class="_2YQcFmh1x _5CDWdzFjx _4BeG6Wjdx _7xLACWkgx" width="20" height="20" viewBox="0 0 20 20">
      <defs>
        <path d="M19.32 8.18H10v3.87h5.36c-.5 2.45-2.6 3.86-5.36 3.86-3.27 0-5.9-2.62-5.9-5.9 0-3.26 2.63-5.9 5.9-5.9 1.4 0 2.68.5 3.68 1.3l2.9-2.9C14.83.96 12.56 0 10 0 4.45 0 0 4.45 0 10s4.45 10 10 10c5 0 9.55-3.64 9.55-10 0-.6-.1-1.23-.23-1.82z" id="a" style="fill: rgb(255, 255, 255);"></path>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <mask id="b" fill="#fff">
          <use xlink:href="#a"></use>
        </mask>
        <path fill="#FBBC05" fill-rule="nonzero" mask="url(#b)" d="M-.9 15.9V4.1L6.8 10" style="fill: rgb(251, 188, 5);"></path>
        <path fill="#EA4335" fill-rule="nonzero" mask="url(#b)" d="M-.9 4.1L6.8 10 10 7.23l10.9-1.78V-.9H-.9" style="fill: rgb(234, 67, 53);"></path>
        <path fill="#34A853" fill-rule="nonzero" mask="url(#b)" d="M-.9 15.9L12.72 5.46l3.6.46L20.9-.9v21.8H-.9" style="fill: rgb(52, 168, 83);"></path>
        <path fill="#4285F4" fill-rule="nonzero" mask="url(#b)" d="M20.9 20.9L6.83 10 5 8.64 20.9 4.1" style="fill: rgb(66, 133, 244);"></path>
      </g>
    </svg>
    <span class="_3EtH0jXex">
      <span class="_2tel1rirx _3OAbEVmqx _3bQlI8DEx _6UYCKwXNx">Google</span>
    </span>
  </div>
</a>*@

@code {

}
