<div class="w-100" id="percent-parent">
  <TelerikNumericTextBox @bind-Value=@Value
                         Id=@Id
                         Format=@($"P{Precision}")
                         Min=@Min
                         Max=@Max
                         Step=@Step
                         Decimals="6"
                         Class="form-control"
                         OnBlur=@HandleValueChangedAsync />
</div>
