<div class="container py-5">
  <div class="text-center">
    <h1>Whoops...</h1>
    <p>Sorry but it looks like this domain is either not configured or has been suspended. If you have reached this page in error please contact our support team <a href="mailto:support@avantipoint.com">support&#64;avantipoint.com</a></p>
  </div>
</div>
@code {

}
