<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-3 display-5">@Property.Name</h1>
        </div>
        <div class="col-12 bg-secondary">
            <div class="row">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col">
                            <UnderwritingInfoBar Title="Start Date"
                                                 Color="#FFFF99"
                                                 Value="XXX" />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Price"
                                                 Color="lightgreen"
                                                 Value=@(Property.PurchasePrice.ToString("C")) />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Hold Period"
                                                 Color="#FFFF99"
                                                 Value=@($"{Property.HoldYears} {(Property.HoldYears == 1 ? "Year" : "Years")}") />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Reversion Cap"
                                                 Color="#FFFF99"
                                                 Value="XXX" />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Number of Units"
                                                 Color="#FFFF99"
                                                 Value=@Property.Units.ToString("N0") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Year Built"
                                                Color="#FFFF99"
                                                Value=@Property.Vintage.ToString("0000") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Total Square Ft"
                                               Color="lightgreen"
                                               Value=@Property.RentableSqFt.ToString("N0") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Ann. CoC Return"
                                               Color="#FFFF99"
                                               Value=@Property.CashOnCash.ToString("P") />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                          <UnderwritingInfoBar Title="Actual Cap Rate"
                                               Color="lightgreen"
                                               Value=@_capRate.ToString("P2") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Purchase DSCR"
                                               Color=@(_debtCoverageRatio<1.2?"salmon": _debtCoverageRatio < 1.5?"#FFFF99":"lightgreen")
                                               Value=@_debtCoverageRatio.ToString("N2") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Purchase CoC"
                                               Color=@(_sellerCashOnCash<0.17?"salmon": _sellerCashOnCash < 1.12?"#FFFF99":"lightgreen")
                                               Value=@_sellerCashOnCash.ToString("P2") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Reversion Value"
                                               Color="salmon"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Desired Yield"
                                               Color="lightgreen"
                                               Value=@Property.DesiredYield.ToString("P2") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="NPV"
                                               Color="lightgreen"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="IRR"
                                               Color="salmon"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Total Ann. Return"
                                               Color="lightgreen"
                                               Value="XXX" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
