<h3>UnderwritingFilesTab</h3>

<TelerikWindow Visible=@false
               Modal=@true
               Width="600px"
               Height="400px">
  <WindowTitle>Upload</WindowTitle>
  <WindowActions>
    <WindowAction Name="Close" OnClick=@CloseUpload />
  </WindowActions>
  <WindowContent>
    <TelerikUpload SaveUrl="@SaveUrl" RemoveUrl="@RemoveUrl"
               SaveField="file" RemoveField="fileToRemove"
               AllowedExtensions="@( new List<string>() { ".jpg", ".png", ".jpeg", ".pdf", ".doc", ".docx", ".xls", ".xlsx" } )"
               MaxFileSize="2048000" MinFileSize="1024">
</TelerikUpload>
  </WindowContent>
</TelerikWindow>
