@if(Refreshing)
{
  <TelerikLoader />
}
else
{
  <div class="row gt-3 mt-3 mb-2">
    <div class="col-12">
      <UnderwritingSection Column="Data.Models.UnderwritingColumn.Ours"
                           Type="Data.Models.UnderwritingType.Income"
                           Property=@Property>
        <TopLevelMenu>
          <TelerikButton ButtonType="ButtonType.Button"
                         Primary="true"
                         Title="Update From Seller"
                         IconClass="fa-duotone fa-copy"
                         OnClick=@UpdateFromSeller>Update From Seller</TelerikButton>
        </TopLevelMenu>
      </UnderwritingSection>
    </div>
  </div>

  <div class="row gt-3 mt-3 mb-2">
    <div class="col-12">
      <UnderwritingSection Column="Data.Models.UnderwritingColumn.Ours"
                           Type="Data.Models.UnderwritingType.Expense"
                           Property=@Property />
    </div>
  </div>
}
