@using Data.Models
@if (Guidance.Type == Data.Models.CostType.PerDoor)
{
  var min = Guidance.Min * Property.Units;
  var max = Guidance.Max * Property.Units;
  var totalMax = Property.SellerExpense.Where(x => x.Category == Guidance.Category).Sum(y => y.AnnualizedTotal);
  if (min == max)
  {
    if (max > totalMax)
    {
      <span class="text-warning">
        <i class="fas fa-shield-check"></i>
      </span>
    }
    else if (max < totalMax)
    {
      <span class="text-danger">
        <i class="fas fa-exclamation-circle"></i>
      </span>
    }
    else
    {
      <span class="text-success">
       <i class="fad fa-badge-check"></i>
      </span>
    }
  }
  else
  {
    if (min > totalMax)
    {
      <span class="text-warning">
       <i class="fas fa-shield-check"></i>
      </span>
    }
    else if (max < totalMax)
    {
      <span class="text-danger">
       <i class="fas fa-exclamation-circle"></i>
      </span>
    }
    else
    {
      <span class="text-success">
       <i class="fad fa-badge-check"></i>
      </span>
    }
  }
}
else if (Guidance.Type == Data.Models.CostType.PercentOfPurchase)
{
  var total = Guidance.Max * Property.PurchasePrice;
  var totalTaxes = Property.SellerExpense.Where(x => x.Category == UnderwritingCategory.Taxes).Sum(y =>
  y.AnnualizedTotal);

  if (totalTaxes > total)
  {
    <span class="text-danger">
     <i class="fas fa-exclamation-circle"></i>
    </span>
  }
  else if (totalTaxes == total)
  {
    <span class="text-success">
     <i class="fad fa-badge-check"></i>
    </span>
  }
  else
  {
    <span class="text-warning">
     <i class="fas fa-shield-check"></i>
    </span>
  }
}
else
{
  <span class="text-secondary">
    <i class="fas fa-question-circle"></i>
  </span>
}