<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-3 display-3">@Property.Name</h1>
        </div>
        <div class="col-12 bg-secondary">
            <div class="row">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col">
                            <UnderwritingInfoBar Title="Start Date"
                                                 Color="#FFFF99"
                                                 Value="XXX" />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Price"
                                                 Color=@(Property.PurchasePrice < Property.AskingPrice? "lightgreen": "salmon")
                                                 Value=@(Property.PurchasePrice.ToString("C")) />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Hold Period"
                                                 Color="#FFFF99"
                                                 Value=@($"{Property.HoldYears} Year{(Property.HoldYears>1?"s":"")}")  />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Reversion Cap"
                                                 Color="#FFFF99"
                                                 Value="XXX" />
                        </div>
                        <div class="col">
                            <UnderwritingInfoBar Title="Number of Units"
                                                 Color="#FFFF99"
                                                 Value=@Property.Units.ToString("N0") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Year Built"
                                                Color="#FFFF99"
                                                Value=@Property.Vintage.ToString("0000") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Total Square Ft"
                                               Color="lightgreen"
                                               Value=@Property.RentableSqFt.ToString("NO") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Ann. CoC Return"
                                               Color="#FFFF99"
                                               Value=@Property.CashOnCash.ToString("P") />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                          <UnderwritingInfoBar Title="Actual Cap Rate"
                                               Color="lightgreen"
                                               Value=@Property.CapRate.ToString("P") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Purchase DSCR"
                                               Color=@(Property.DebtCoverage<1.2?"salmon": Property.DebtCoverage < 1.5?"#FFFF99":"lightgreen")
                                               Value=@Property.DebtCoverage.ToString("N") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Purchase CoC"
                                               Color=@(Property.SellerCashOnCash<0.17?"salmon": Property.SellerCashOnCash < 1.12?"#FFFF99":"lightgreen")
                                               Value=@Property.SellerCashOnCash.ToString("P") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Reversion Value"
                                               Color="salmon"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Desired Yield"
                                               Color="lightgreen"
                                               Value=@Property.DesiredYield.ToString("P2") />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="NPV"
                                               Color="lightgreen"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="IRR"
                                               Color="salmon"
                                               Value="XXX" />
                        </div>
                        <div class="col">
                          <UnderwritingInfoBar Title="Total Ann. Return"
                                               Color="lightgreen"
                                               Value="XXX" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
