<div class="w-100">
  <div class="mb-2 text-center text-light my-auto">@Title</div>
  <div style=@($"background-color: {Color}") class="text-center m-2 p-2">
    <span style="color: white">@Value</span>
  </div>
</div>