@page "/privacy-policy"

<ThemeBreadcrumbTitle Title="Privacy Policy" />

<ThemeSection>
  @((MarkupString)_content?.HtmlContent)

  <p>Last Modified: @_content?.LastUpdated.ToString("MMMM dd, yyyy")</p>
</ThemeSection>


