@page "/"

<PageTitle>MultiFamily Portal - First Run</PageTitle>

@*<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="py-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>*@

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Setup</h1>
    <p class="lead">Thanks for choosing the MultiFamily Portal. Before we start we need to setup your website. The wizard will help us set up some basic settings to configure the portal for your business.</p>
  </div>
</div>

<div class="container">
  <TelerikWizard OnFinish=@OnFinish>
    <WizardSteps>
      <WizardStep Label="Site Info" IconClass="fa-duotone fa-browser">
        <Content>
          <div class="m-4">
            <p>Let's start by getting some information about your website.</p>
            <div class="row py-4 px-2">
              <label for="SiteTitle" class="col-sm-2 col-form-label">Site Title</label>
              <div class="col-sm-10">
                <TelerikTextBox @bind-Value=@Model.SiteTitle
                                Class="full-width"
                                PlaceHolder="Site Title" />
              </div>
            </div>
            <div class="row pb-5 px-2">
              <label for="Email" class="col-sm-2 col-form-label">Sender Email</label>
              <div class="col-sm-5">
                <TelerikTextBox @bind-Value=@Model.SenderEmailName
                                Class="full-width"
                                PlaceHolder="Display Name" />
              </div>
              <div class="col-sm-5">
                <TelerikTextBox @bind-Value=@Model.SenderEmail
                                Class="full-width"
                                PlaceHolder="no-reply@website.com" />
              </div>
            </div>
            <h3>Social Profiles <small>(Optional)</small></h3>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://facebook.com/</span>
                  </div>
                  <TelerikTextBox @bind-Value=@Model.Facebook Class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
                  </div>
                  <TelerikTextBox @bind-Value=@Model.Twitter Class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://linkedin.com/in/</span>
                  </div>
                  <TelerikTextBox @bind-Value=@Model.LinkedIn Class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://instagram.com/</span>
                  </div>
                  <TelerikTextBox @bind-Value=@Model.Instagram Class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </Content>
      </WizardStep>
      <WizardStep Label="Company Info" IconClass="fa-duotone fa-city" Disabled=@(!SiteInfoIsValid())>
        <Content>
          <div class="m-4">
            <div class="row g-3 mt-1">
              <label for="LegalName" class="col-sm-2 col-form-label">Legal Business Name</label>
              <div class="col-sm-10">
                <TelerikTextBox @bind-Value=@Model.LegalName
                                Class="full-width"
                                PlaceHolder="Legal Business Name" />
              </div>
              <label for="PublicEmail" class="col-sm-2 col-form-label">Public Email</label>
              <div class="col-sm-10">
                <TelerikTextBox @bind-Value=@Model.PublicEmail
                                Class="full-width"
                                PlaceHolder="hello@website.com" />
              </div>
              <label for="LegalName" class="col-sm-2 col-form-label">Phone</label>
              <div class="col-sm-10">
                <TelerikMaskedTextBox @bind-Value=@Model.Phone
                                      Class="full-width"
                                      Mask="(000) 000-0000" />
              </div>
            </div>
            <div class="row g-3 mt-1 mb-3">
              <label for="address" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <TelerikTextBox @bind-Value=@Model.Address
                                Class="full-width"
                                PlaceHolder="Address" />
              </div>
            </div>
            <div class="row g-3">
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                <TelerikTextBox @bind-Value=@Model.City
                                Class="full-width"
                                PlaceHolder="City" />
              </div>
              <div class="col-sm">
                <TelerikTextBox @bind-Value=@Model.State
                                Class="full-width"
                                PlaceHolder="State" />
              </div>
              <div class="col-sm">
                <TelerikTextBox @bind-Value=@Model.PostalCode
                                Class="full-width"
                                PlaceHolder="Zip" />
              </div>
            </div>
            <div class="mb-3"></div>
          </div>
        </Content>
      </WizardStep>
      <WizardStep Label="Admin Account" IconClass="fa-duotone fa-user" Disabled=@(!BusinessEntityIsValid())>
        <Content>
          <div class="m-4">
            <div class="row gt-3 py-3 px-3">
              <label for="FirstName" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-4">
                <TelerikTextBox @bind-Value=@Model.FirstName
                                Class="full-width"
                                PlaceHolder="First Name" />
              </div>
              <label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-4">
                <TelerikTextBox @bind-Value=@Model.LastName
                                Class="full-width"
                                PlaceHolder="Last Name" />
              </div>
              <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
              <div class="col-sm-4">
                <TelerikMaskedTextBox @bind-Value=@Model.AdminPhone
                                      Mask="(000) 000-0000"
                                      Class="full-width" />
              </div>
              <label for="PublicEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-4">
                <TelerikTextBox @bind-Value=@Model.AdminUser
                                Class="full-width"
                                PlaceHolder="user@website.com" />
              </div>
            </div>
            <div class="row gt-3 py-3 px-3">
              <div class="col-12">
                <p>You may use your existing Microsoft or Google account. Alternatively you may set a password to log in. Would you like to use a local password?</p>
              </div>
              <div class="col-12">
                <TelerikSwitch OffLabel="No"
                               OnLabel="Yes"
                               @bind-Value=@Model.UsePassword />
              </div>
              @if(Model.UsePassword)
              {
                <label for="Password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <TelerikTextBox @bind-Value=@Model.Password
                                  Class="full-width"
                                  Password=@true />
                </div>
                <label for="ConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  <TelerikTextBox @bind-Value=@Model.ConfirmPassword
                                  Class="full-width"
                                  Password=@true />
                </div>
              }
            </div>
          </div>
        </Content>
      </WizardStep>
    </WizardSteps>
  </TelerikWizard>
</div>

<PortalNotification @ref="notification" />
