<div id="ltn__utilize-mobile-menu" class="ltn__utilize-mobile-menu offcanvas offcanvas-start">
  <div class="ltn__utilize-menu-inner ltn__scrollbar">

    <div class="offcanvas-header mt-3">
      <div class="site-logo ms-3">
        <a href="/" data-bs-dismiss="offcanvas" aria-label="Close">
          <img src="/theme/branding/logo-side" alt="Logo" class="img img-fluid logo" />
        </a>
      </div>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="ltn__utilize-menu mx-5">
      <ul>
        <li data-bs-dismiss="offcanvas" aria-label="Close">
          <a href="/">Home</a>
        </li>
        <li data-bs-dismiss="offcanvas" aria-label="Close">
          <a href="/about">About</a>
        </li>
        <li data-bs-dismiss="offcanvas" aria-label="Close">
          <a href="/strategy">Strategy</a>
        </li>
         <li data-bs-dismiss="offcanvas" aria-label="Close">
          <a href="/contact">Contact</a>
        </li>
      </ul>
       <div class="header-top-btn mt-3" data-bs-dismiss="offcanvas" aria-label="Close">
         <a href="/invest-with-us" class="py-md-0 py-2">Invest with Us</a>
       </div>
    </div>

  </div>
</div>
