@page "/admin/properties/underwriting"
@using MultiFamilyPortal.AdminTheme.Components.Underwriting

<SiteTitle Title="Underwriting" />

<div class="row pt-3">
  <div class="offset-md-8 col-md-2 col-sm-12 mb-3 mb-md-1">
    <TelerikDropDownList @bind-Value=@ProfileId
                         Data=@Underwriters
                         TextField=@(nameof(UnderwriterResponse.DisplayName))
                         ValueField=@(nameof(UnderwriterResponse.Id))
                         Width="100%"
                         OnChange=@UpdateAsync />
  </div>
  <div class="col-md-2 col-sm-12 mb-3 mb-md-1">
    <TelerikDropDownList @bind-Value=@PropertyId
                         Data=@Prospects.OrderBy(p => p.Name)
                         TextField=@(nameof(ProspectPropertyResponse.Name))
                         ValueField=@(nameof(ProspectPropertyResponse.Id))
                         Width="100%"
                         DefaultText="Underwriting"
                         OnChange=@UpdateAsync />
  </div>
</div>

<div class="row my-1">
  <div class="offset-md-8 col-md-4 col-sm-12">
    <div class="d-flex justify-content-between">
    <TelerikDateRangePicker @bind-StartValue="@Start"
                        @bind-EndValue="@End"
                        Class="space-control"
                        OnChange=@UpdateAsync/>
                        </div>
 </div>
</div>

<TelerikTabStrip TabPosition=@TabPosition.Top>
  <TabStripTab Title="Underwriting">
    <UnderwritingList Prospects=@FilteredProspects/>
  </TabStripTab>
  <TabStripTab Title="Defaults">
    <UnderwritingGuidanceDefaults />
  </TabStripTab>
</TelerikTabStrip>

<PortalNotification @ref="notification" />