@page "/admin/underwriting/property/{propertyId:guid}"
@using MultiFamilyPortal.AdminTheme.Components.Underwriting

@if(Property is null)
{
  <TelerikLoader Type="LoaderType.ConvergingSpinner" />
}
else
{
  <Animation OptionsName="Page">
   <UnderwritingSummary Property=@Property />
   
    <div class="row my-2">
      <div class="col-md-3 col-sm-6 offset-md-9 offset-sm-6">
        <TelerikDropDownList Data=@AvailableStatus
                             @bind-Value=@Property.Status
                             Enabled=@_editable>
          <ValueTemplate>
            @context.Humanize(LetterCasing.Title)
          </ValueTemplate>
          <ItemTemplate>
            @context.Humanize(LetterCasing.Title)
          </ItemTemplate>
        </TelerikDropDownList>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <TelerikWizard ShowPager=@false @bind-Value=@currentIndex>
          <WizardSettings>
            <WizardStepperSettings Linear=@false />
          </WizardSettings>
          <WizardSteps>
            <WizardStep Label="Property Info">
              <Content>
                <UnderwritingPropertyInfoTab Property=@Property />
              </Content>
            </WizardStep>
            <WizardStep Label="Financials">
              <Content>
                <TelerikTabStrip TabPosition="TabPosition.Top">
                  <TabStripTab Title="Stated In Place">
                    <UnderwritingSellerInfoTab Property=@Property />
                  </TabStripTab>
                  <TabStripTab Title="Pro Forma">
                    <UnderwritingOurInfoTab Property=@Property ExpensesUpdated=@OnExpensesUpdated />
                  </TabStripTab>
                  @if(Property.OurExpense.Any())
                  {
                    <TabStripTab Title="Rule of Thumb">
                      <UnderwritingMarketRuleOfThumb Property=@Property />
                    </TabStripTab>
                  }
                </TelerikTabStrip>
              </Content>
            </WizardStep>
            <WizardStep Label="Closing">
              <Content>
                <TelerikTabStrip TabPosition="TabPosition.Top">
                  <TabStripTab Title="Mortgage">
                    <UnderwritingMortgagesTab Property=@Property />
                  </TabStripTab>
                  <TabStripTab Title="Closing Costs">
                    <UnderwritingClosingCostsTab Property=@Property />
                  </TabStripTab>
                  <TabStripTab Title="Summary">
                    <UnderwritingSummaryTab Property=@Property />
                  </TabStripTab>
                </TelerikTabStrip>
              </Content>
            </WizardStep>
            <WizardStep Label="Files/Notes">
              <Content>
                <TelerikTabStrip TabPosition="TabPosition.Top">
                  <TabStripTab Title="Bucketlist">
                    <UnderwritingBucketlistTab Property=@Property />
                  </TabStripTab>
                  <TabStripTab Title="Notes">
                    <UnderwritingNotesTab Property=@Property />
                  </TabStripTab>
                  <TabStripTab Title="Files">
                    <UnderwritingFilesTab Property=@Property />
                  </TabStripTab>
                </TelerikTabStrip>
              </Content>
            </WizardStep>
            <WizardStep Label="Rent Roll">
              <Content>
               <TelerikTabStrip TabPosition="TabPosition.Top">
                  <TabStripTab Title="Floor Plans">
                    <UnderwritingFloorPlans />
                  </TabStripTab>
                  <TabStripTab Title="Units">
                    <h2>Units</h2>
                    <ComingSoon />
                  </TabStripTab>
                </TelerikTabStrip>
              </Content>
            </WizardStep>
          </WizardSteps>
          <WizardButtons>
            @if(showPrevious)
            {
              <TelerikButton ButtonType="ButtonType.Button" OnClick=@Previous>Previous</TelerikButton>
            }
            @if(showNext)
            {
              <TelerikButton ButtonType="ButtonType.Button" Primary="true" OnClick=@Next>Next</TelerikButton>
            }
            <AuthorizedPolicy Policy=@PortalPolicy.Underwriter>
              <TelerikButton Title="Update"
                             Primary="true"
                             ButtonType=@ButtonType.Button
                             OnClick=@OnUpdateProperty>
                Update
              </TelerikButton>
            </AuthorizedPolicy>
            <a class="btn btn-secondary" href="/api/admin/underwriting/property/exportUnderwriting/@propertyId" target="_blank">Download Underwriting</a>
          </WizardButtons>
        </TelerikWizard>
      </div>
    </div>
  </Animation>
}

<PortalNotification @ref="notification" />
