<div class="row border m-3 mp-1 p-3">
  <div class="col-md-8 border-md-end">
    <span class="text-muted my-auto">@Reminder.Description
    </span>
  </div>
  <div class="col my-auto">
    @Reminder.Date.ToString("MMM dd, yyyy") <br>
    @if (Reminder.Date.Date != DateTime.Now.Date)
    {
      <small class="form-text">@Reminder.Date.Humanize()</small>
    }
  </div>
</div>